<div class="formularioRegistro">
  <h2>Crear una persona</h2>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombres</label>
      <input
        type="text"
        type="text"
        formControlName="nombre"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>Apellidos</label>
      <input type="text" formControlName="apellido" class="form-control" />
    </div>

    <div class="form-group">
      <label>Edad</label>
      <input type="number" formControlName="edad" class="form-control" />
    </div>

    <div class="form-group">
      <label>Pais</label>
      <select name="pais" id="pais" formControlName="pais">
        <option [ngValue]="item" *ngFor="let item of paises">
          {{ item.nombre }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Estado o región</label>
      <select name="estado" id="estado" formControlName="estado">
        <option [ngValue]="item" *ngFor="let item of estados">
          {{ item.nombre }}
        </option>
      </select>
    </div>

    <button
      type="submit"
      [disabled]="personaForm.invalid"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </form>
</div>

<div class="formularioRegistro2">
  <h2>Personas Registradas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Pais</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personas">
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellido }}</td>
        <td>{{ item.edad }}</td>
        <td>{{ item.pais.nombre }}</td>
        <td>{{ item.estado.nombre }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="editar(item)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
